{
	auto_https off
}

:8080 {
	encode gzip

	handle /health {
		reverse_proxy http://127.0.0.1:3001
	}

	handle /api/* {
		reverse_proxy http://127.0.0.1:3001
	}

	handle /collaboration* {
		reverse_proxy http://127.0.0.1:3002
	}

	handle {
		root * /app/packages/frontend/dist
		try_files {path} /index.html
		file_server
	}
}
